.catalog-page {
    &__items {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        gap: 40px;
        justify-items: center;
    }
}

.sort {
    min-width: 180px;
    
    &__item {
        border-radius: 16px;
        
        &_open {
            border-radius: 16px 16px 0 0;
        }
    }

    &__list {
        border-radius: 0 0 16px 16px;
        z-index: -1;
        height: 0;
        top: 50%;

        &_open {
            height: 121px;
            top: 100%;
        }
    }
}